<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    Form
    <form action="/insertData" method="post">
        <input type="text" name="movieName" id="" placeholder="enter movie name">
        <input type="number" name="votes" id="" placeholder="vote">
        <input type="text" name="genre" id="" placeholder="genre">
        <input type="text" name="language" id="" placeholder="language">
        <input type="date" name="relDate" id="" placeholder="date">
        <input type="text" name="duration" id="" placeholder="time">
        <input type="text" name="aboutMovie" id="" placeholder="about">
        <input type="submit">
    </form>
</body>
</html>