<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="subheader" style="background-color: rgb(96, 93, 93); width: 100%;">
        <div class="logo">
            <h1>KOPPEE</h1>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Service</a></li>
                <li><a href="">Pages<i class="ri-arrow-drop-down-fill"></a></i></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <section class="part-1">
        <h2 style="padding-top: 3%;">ABOUT US</h2>
        <h1>Serving Since 1950</h1>
        <div class="about">
            <div class="story">
                <h1>Our Story</h1>
                <h3>Eos kasd eos dolor vero vero, lorem <br>stet diam rebum. Ipsum amet sed vero<br> dolor sea</h3>
                <p class="sp ">Takimata sed vero vero no sit sed, justo clita duo no duo amet et, nonumy kasd sed dolor eos diam lorem eirmod. Amet sit amet amet no. Est nonumy sed labore eirmod sit magna. Erat at est justo sit ut. Labor diam sed ipsum et eirmod</p>
                <button>Learn More</button>
            </div>
            <div class="cup">
                <img src="img/about.png" alt="">
            </div>
            <div class="story">
                <h1>Our Vision</h1>
                <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
                <h3><i class="ri-arrow-right-s-line"></i>Lorem ipsum dolor sit amet</h3>
                <h3><i class="ri-arrow-right-s-line"></i>Lorem ipsum dolor sit amet</h3>
                <h5><i class="ri-arrow-right-s-line"></i>Lorem ipsum dolor sit amet</h5>
                <button class="btn">Learn More</button>
            </div>
        </div>
    </section>
</body>
</html>