<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&family=Ysabeau+Infant:wght@500&family=Ysabeau+SC:wght@400;500&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="subheader" style="background-color: rgb(96, 93, 93); width: 100%;">
        <div class="logo">
            <h1>KOPPEE</h1>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Service</a></li>
                <li><a href="">Pages<i class="ri-arrow-drop-down-fill"></a></i></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <section class="part-5">
        
        <div class="contact">
            
            <div class="reserv">
                <h1>30% OFF</h1>
                <h4>For Online Reservation</h4>
                <p>Lorem justo clita erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea</p>
                <h3><i class="ri-arrow-right-s-line"></i>Lorem ipsum dolor sit amet</h3>
                <h3><i class="ri-arrow-right-s-line"></i>Lorem ipsum dolor sit amet</h3>
                <h3><i class="ri-arrow-right-s-line"></i>Lorem ipsum dolor sit amet</h3>
            </div>
            <div class="info">
                <h2>Book Your Table</h2>
                <input type="text" name="" placeholder="Name">
                <input type="email" name="" placeholder="Email">
                <input type="date" name="" placeholder="Date">
                <input type="number" name="" placeholder="Time">
                <input type="number" name="" placeholder="Person">
                <button>Book Now</button>
            </div>
        </div>
    </section>

    <section class="part-6">
        <div class="line-4">
            <h1></h1>
        </div>
            <h5>TESTIMONIAL</h5>
            <h1>Our Clients Say</h1>
            <div class="main-2">
                <div class="clientt">
                    <div class="imgclnt">
                        <img src="img/testimonial-1.jpg" alt="">
                    </div>
                    <div class="detail">
                        <h2>Ilyana</h2>
                        <h3>Profession</h3>
                    </div>
                    <p>Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor Sit lorem ipsum et diam elitr </p>
                </div>
                <div class="clientt">
                    <div class="imgclnt">
                        <img src="img/testimonial-2.jpg" alt="">
                    </div>
                    <div class="detail">
                        <h2>xvior</h2>
                        <h3>Profession</h3>
                    </div>
                    <p>Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor Sit lorem ipsum et diam elitr </p>
                </div>
                <div class="clientt">
                    <div class="imgclnt">
                        <img src="img/testimonial-3.jpg" alt="">
                    </div>
                    <div class="detail">
                        <h2>Liza</h2>
                        <h3>Profession</h3>
                    </div>
                    <p>Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor Sit lorem ipsum et diam elitr </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <img src="img/overlay-top.png" alt="">
        <div class="f-1">
            <h1>GET IN TOUCH</h1>
            <h4><i class="ri-map-pin-fill"></i>123 Street, New York, USA<br><br>
                <i class="ri-phone-fill"></i>+012 345 67890<br><br>
                <i class="ri-mail-fill"></i>mail@domain.com</h4>
        </div>
        <div class="f-1">
            <h1>FOLLOW US</h1>
            <h4>Amet elitr vero magna sed ipsum <br> <br>sit kasd sea elitr lorem rebum</h4><br>
            <a href=""><i class="ri-twitter-fill"></i></a>
            <a href=""><i class="ri-facebook-fill"></i></a>
            <a href=""><i class="ri-linkedin-fill"></i></a>
            <a href=""><i class="ri-instagram-fill"></i></a>
        </div>
        <div class="f-1">
            <h1>OPEN HOURS</h1>
            <h4>MONDAY - FRIDAY<br>
                8.00 AM - 8.00 PM<br><br>
                
                SATURDAY - SUNDAY<br>
                2.00 PM - 8.00 PM</h4>
        </div>
        <div class="f-1">
            <h1>NEWSLETTER</h1>
            <h4>Amet elitr vero magna sed ipsum <br><br> sit kasd sea elitr lorem rebum</h4><br>
            <input type="text" name="" placeholder="Your Email">
            <button>Sign Up</button>
        </div>
    </footer>
</body>
</html>